# Dependências
/vendor/

# Arquivos de configuração locais
.env
composer.lock

# Cache, logs e temporários
/cache/
/tmp/
/logs/
/storage/
/session/

# IDEs e editores
.vscode/
.idea/
*.swp
*.swo

# Sistema
.DS_Store
Thumbs.db
*.bak
*.tmp
*.log
